@use "./styles/tool" as *;

// @font-face {
//   font-family: 'FZLTZHUNHK';
//   src: url($baseUrl+'font/FZLTZHUNHK.TTF');
// }

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

